:root {
  --background-color: #131315;
  --foreground-color: #0d0d0d;
  --highlighted-foreground-color: #101010;
  --button-color: #1a1d22;
  --button-color-muted: #131315;
  --primary-color: #18bcdc;
  --primary-muted-color: #103f50;
  --text-color: #8a94a8;
  --text-highlight-color: #c9ced7;

  --radius-lg: 16px;
  --radius-md: 12px;
  --radius-sm: 6px;

  --gap-lg: 16px;
  --gap-md: 12px;
  --gap-sm: 6px;
}
