:root {
  --background-color: #0b0b11;
  --foreground-color: #030309;
  --highlighted-foreground-color: #0f1118;
  --alternate-foreground-color: #07070e;

  --button-color: #13151a;
  --button-color-muted: #0d0d12;

  --primary-color-highlighted: #1df2e4;
  --primary-color: #01bcc0;
  --primary-muted-color: #113e41;
  --primary-dark-color: #03292f;

  --secondary-color: #7b91e0;
  --secondary-muted-color: #3c4c7d;
  --secondary-dark-color: #242c47;

  --warn-color: #e0a72c;
  --warn-muted-color: #a17413;

  --destructive-color: #b21c30;
  --destructive-muted-color: #5a161f;

  --text-color: #93a5c9;
  --text-muted-color: #59667c;
  --text-highlight-color: #dbe6fa;
  --text-inverse-color: #141d1d;
  --text-button-color: #dbe4ff;

  --radius-lg: 16px;
  --radius-md: 12px;
  --radius-sm: 8px;

  --gap-lg: 18px;
  --gap-md: 8px;
  --gap-sm: 4px;
}
